---
http_interactions:
- request:
    method: get
    uri: https://api.cnb.cz/cnbapi/exrates/daily?lang=EN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rates":[{"validFor":"2023-12-04","order":233,"country":"Australia","currency":"dollar","amount":1,"currencyCode":"AUD","rate":14.914},{"validFor":"2023-12-04","order":233,"country":"Brazil","currency":"real","amount":1,"currencyCode":"BRL","rate":4.584},{"validFor":"2023-12-04","order":233,"country":"Bulgaria","currency":"lev","amount":1,"currencyCode":"BGN","rate":12.471},{"validFor":"2023-12-04","order":233,"country":"Canada","currency":"dollar","amount":1,"currencyCode":"CAD","rate":16.570},{"validFor":"2023-12-04","order":233,"country":"China","currency":"renminbi","amount":1,"currencyCode":"CNY","rate":3.144},{"va[...]
